/* contact page style */

.contactPage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSide{
  margin-top: 10px;
  min-width: auto;
  padding: 30px;
}

@media only screen and (max-width:700px){
  .contactPage{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.form{
  width: 600px;
  padding: 0 20px 20px 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form h3{
  text-align: center;
}

.form input, .form textarea{
  display: block;
  width: 100%;
  outline: none;
  border: none;
  color: black;
  background-color: inherit;
  margin: 20px 0 0 0;
  font-size: 16px;
  border-bottom: 1px solid var(--dark);
}

.form input{
  height: 40px;
  padding: 5px 10px;
}
.form textarea{
  max-width: 560px;
  min-height: 200px;
  padding: 10px 10px;
}

.form input:focus, .form textarea:focus{
  border-bottom: 2px solid var(--dark);
}

/* form buttons style */
.btnGroup{
  width: 100%;
}

.btn{
  background-color: var(--dark);
  color: white;
  margin-left: 0;
}

/* error and success message styling */
.helperText{
  margin: 0;
  padding: 0px 10px;
  font-size: 12px;
  color: rgb(165, 0, 0);
}

.helperText span{
  color: green;
}

.msg{
  padding: 10px 20px;
  background-color: var(--lightGreen)
}

/* Responsive form styling */
@media only screen and (max-width:600px){
  .form{
    width: 500px;
  }
  .form textarea{
    max-width: 460px;
  }
}
@media only screen and (max-width:512px){
  .form{
    width: 440px;
  }
  .form textarea{
    max-width: 400px;
  }
  .form button{
    margin: 10px 5px;
  }
}

@media only screen and (max-width:440px){
  .form{
    width: 400px;
  }
  .form textarea{
    max-width: 360px;
  }
}