.imageboxParent {
  padding-top: 2rem;
  position: relative;
}

.imagebox {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.imagebox .image {
  width: 100%;
  height: auto;
}

.textbox {
  width: 100%;
}

.profilename {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin-top: 1rem;
}

.typewritter {
  font-size: 16px;
  text-align: center;
}

@media only screen and (min-width: 450px) {
  .textbox {
    padding: 0.75rem;
  }
}

@media only screen and (min-width: 600px) {
  .imageboxParent {
    position: fixed;
    margin-top: 2rem;
    width: 300px;
  }

  .imagebox {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }

  .image {
    max-width: 300px;
  }

  .typewritter {
    font-size: 18px;
  }

  .profilename {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .textbox {
    max-width: 700px;
    margin-top: 0;
    margin-left: 300px;
    padding: 2rem 1.5rem;
  }
}

@media only screen and (min-width: 940px) {
  /* .imagebox {
    margin-right: 3rem;
    width: 400px;
    height: auto;
    border-radius: 0;
  } */

  .profilename {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}